<%- include("partials/header.ejs")  %>
<main>
    <% if(locals.postArray.length>0) {%>
        <h1>POSTS:</h1>
        <div class="container">
        <% for(let i=0;i<postArray.length;i++) {%>
            <div class="post">
                <form action="/edit" method="post" class="Xform"id="edit">
                    <input type="hidden" name="postId" value="<%= postArray[i].id %>"> 
                    <input type="submit" value="✎" class="X" >
                </form>
                <form action="/delete" method="post" class="Xform">
                    <input type="hidden" name="postId" value="<%= postArray[i].id %>"> 
                    <input type="submit" value="X" class="X" >
                </form>
                <div class="posto">
                    <p ><%= postArray[i].blog %></p><hr>
                    <em ><%= postArray[i].author%></em>
                </div>
            </div>
        <% }}else{ %>
            <h1>nothing to show here</h1>
            <% } %>
        </div>

</main>
<%- include("partials/footer.ejs")  %>